<div *ngIf="loggedIn">
  <h1>successfully logged In</h1>
</div>
<div *ngIf="submitted && !loggedIn">
  <h2 style="color: red;">Username or passwor not correct</h2>
</div>
<div *ngIf="!loggedIn">
  <h1>Log In</h1>
  <!---- loginForm formGroup contains username and password   -->
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username</label>
      <input type="text" formControlName="username" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" formControlName="password" />
    </div>
    <button type="submit">Login</button>
  </form>
</div>